body{
  font-family:  'Poppins', sans-serif;
}
.navbar .nav-link {
  color: #198754;
  font-weight: 500;
  transition: transform 0.2s ease;
}

.navbar .nav-link:hover {
  color: black;
  transform: scale(1.05);
}
.phn{
  font-size: 17px;
  font-weight: 700;
}
