/* ===== About Us Section ===== */
.about-us-section {
  background-color: #fff;
}
.imgBanner2{
  display: flex;
  justify-content: center;
}
.imgBanner2 img{
  width: 440px;
  margin-top: 15px;
}

.about{
  letter-spacing: 1px;
}

.aboutbtn {
  outline: none;
  border: none;
  background-color: #198754;
  padding: 13px 25px;
  color: #fff;
  transition: transform 0.3s ease;
  border-radius: 27px;
  font-size: 16px;
  font-weight: 500;
}

.aboutbtn:hover {
  background-color: #186742; 
  color: #ffffff; 
  transform: scale(1.03);
}
.green-icon {
  color: #198754;
}
@media (max-width:500px){
  .imgBanner2 img{
  width: 350px;
  padding-left: 20px;
}
.overviewBanner2{
    font-size: 13px;
  }
}