.Banner {
  background-image: url('../../assets/bgBanner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  min-height: 666px;
  margin-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainHeading {
  color: white;
  font-size: 3.5rem;
  font-weight: 600;
}

.mainHeading .subHeading {
  color: #198754;
}

.Banner .overview {
  color: white;
  font-size: 19px;
}

.firstButton button {
  outline: none;
  border: none;
  padding: 13px 25px;
  background-color: #198754;
  color: white;
  border-radius: 27px;
  font-size: 16px;
  font-weight: 500;
  transition: transform 0.3s ease;
}

.firstButton button:hover {
  cursor: pointer;
  color: #198754;
  background-color: white;
  transform: scale(1.03);
}

@media (max-width : 650px) {
  .mainHeading{
    font-size: 30px;
  } 
  .Banner .overview{
    font-size: 13px;
  } 
  .firstButton button {
    font-size: 13px;
    padding: 10px 20px;
  }
}

@media (min-width: 650px) and (max-width: 999px) {
  .mainHeading{
    font-size: 40px;
  } 
  .Banner .overview{
    font-size: 13px;
  } 
  .firstButton button {
    font-size: 13px;
    padding: 10px 20px;
  }
}